body {
    color: white;
}

.visibility-hidden {
    display: none;
}

.feature__container {
    width: 80%;
    margin: 0 auto;
}

.tech__container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12rem;
    margin-block: 7rem;
}

.feature__intro {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 2rem;
    padding-block: 2rem;

}

.feature__title {
    font-size: 6.25em;
}

.feature__subtitle {
    font-size: 3.4375em;
}

.feature__nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 20rem;
}

.feature__button {
    background: none;
    border: 1px solid white;
    padding: 0.5rem 1rem;
    color: white;
    cursor: pointer;
    transition: 0.2s;
    width: 10rem;
    height: 2.5rem;
}

.feature__button.active {
    height: 4rem;
}

.feature__button.active,
.feature__button:hover {
    background: white;
    color: black;
}

.feature__image>img {
    width: 27.375rem;
    height: 35.3125rem;
    aspect-ratio: 534/661;
}