.feature_container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--smoky-umber);
    padding: var(--sp-xl);
 }

.tech_container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    align-items: center;
}

.feature_image {
    width: 100%;
    height: 100%;
}

.feature_button {
    background: none;
    padding-block: 2.5rem;
    padding-inline: 1rem;
    color: var(--lucky-grey);
    cursor: pointer;
    transition: 0.3s ease-in-out;
    width: 100%;
    font-size: var(--fz-0);
    text-align: left;
    border-block: none;
    border-inline-start: none;
    border-inline-end: 1px solid var(--doctor);
}

.feature_button.active {
    color: var(--doctor);
}

.feature_button:hover {
    color: var(--meteor-shower);
    transition: 0.3s ease-in-out;
}
