.contact_container {
    background-color: var(--smoky-umber);
    padding: var(--sp-xl);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    width: 100%;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-size: var(--fz-0);
    font-weight: 300;
}

.contact_intro {
    width: 50vw;
}

.contact_title {
    font-family: 'GT Ultra', sans-serif;
    font-size: var(--fz-4);
    color: var(--doctor);
    text-transform: uppercase;
    line-height: normal;
    pointer-events: auto;
    margin-block-end: var(--sp-s);
}

form {
    width: 30vw;
}

.form_item {
    display: flex;
    flex-direction: column;
    gap: var(--sp-2xs);
    margin-block-start: var(--sp-l);
}

.form_item--name,
.form_item--email,
.form_item--work {
    border-block-end: .5px solid var(--doctor);
}

.form_item input {
    background-color: transparent;
    padding: var(--sp-xs) 0;
    border: none;
    color: var(--doctor);
}

.form_item input:focus {
    outline: 1px solid var(--doctor);
    padding: var(--sp-xs) var(--sp-xs);
    transition: .3s ease-in-out;
    background-color: transparent;
}

.form_item input:focus-within {
    outline: 1px solid var(--meteor-shower);
    background-color: transparent;
}

.form_item input::placeholder {
    color: var(--lucky-grey);
    font-family: 'Montserrat', sans-serif;
    font-size: var(--fz--1);
    background-color: transparent;
}

.form_item--label {
    color: var(--doctor);
    font-size: var(--fz-1);
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
}

.radio_container {
    display: flex;
    flex-direction: column;
    gap: var(--sp-2xs);
    margin-block-end: var(--sp-l);
}

.radio_container--item {
    display: flex;
    /* justify-content: space-between; */
    gap: var(--sp-2xs);
}

.radio_container--item input[type="radio"] {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
    background-color: transparent;
    border: 0.5px solid var(--doctor);
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    display: grid;
    place-content: center;
    transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

.radio_container--item input[type="radio"]:checked {
    background-color: var(--meteor-shower);
    border-color: var(--meteor-shower);
    transition: .3s ease-in-out;
}

.radio_container--item label {
    font-family: 'Montserrat', sans-serif;
    font-size: var(--fz--1);
    font-weight: 200;
}