.car_scene_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 100;
    font-family: 'GT Ultra', sans-serif;
    font-size: 5rem;
    color: var(--doctor);
}

/* Logo - Top Left */
.overlay_logo {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 1rem;
    font-variation-settings: 'wght' 200;
    color: var(--doctor);
    pointer-events: auto;
}

/* Title - Top Center */
.overlay_title_text {
    font-size: 5.5rem;
    line-height: 5rem;
    text-transform: uppercase;
    white-space: nowrap;
}

.purple {
    color: var(--meteor-shower);
    font-variation-settings: 'wght' 600;
}

/* Controls - Bottom Center */
.overlay_controls {
    position: absolute;
    bottom: var(--sp-xl);
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: var(--sp-3xl);
    pointer-events: auto;
}
