.car_scene_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 100;
    font-family: 'GT Ultra', sans-serif;
    font-size: 5rem;
    color: var(--doctor);
}

.overlay_title_text {
    font-size: 5.5rem;
    line-height: 5rem;
    text-transform: uppercase;
    white-space: nowrap;
}

.overlay_title_container {
    will-change: transform, opacity;
}

.purple {
    color: var(--meteor-shower);
    font-variation-settings: 'wght' 600;
}

.overlay_controls {
    position: absolute;
    bottom: var(--sp-3xs);
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    gap: var(--sp-m);
    pointer-events: auto;
}

.controls {
    display: flex;
    gap: var(--sp-xl);
}

.scroll-cta {
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding-bottom: 3rem;
    pointer-events: none;
}

.scroll-indicator {
    width: 23px;
    height: 35px;
    border: 2px solid var(--smoky-umber);
    border-radius: 16px;
    position: relative;
    animation: scrollPulse 2s infinite;
}


.scroll-arrow {
    width: 4px;
    height: 4px;
    background: var(--smoky-umber);
    border-radius: 50%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    animation: scrollBounce 2s infinite;
}

@keyframes scrollPulse {

    0%,
    100% {
        opacity: 0.5;
    }

    50% {
        opacity: 1;
    }
}

@keyframes scrollBounce {

    0%,
    100% {
        top: 8px;
    }

    50% {
        top: 20px;
    }
}


@keyframes sound-wave {

    0%,
    100% {
        transform: scaleY(2.5);
    }

    50% {
        transform: scaleY(0.5);
    }
}