span {
    font-weight: 300;
}

.nav_container {
    width: 100vw;
    padding: var(--sp-m);
    position: absolute;
    z-index: 9998;
    top: 0;
    left: 0;
    display: flex;
    justify-content: end;
    align-items: center;
}

.nav_buttons {
    display: flex;
    gap: var(--sp-m);
}

.logo span {
    color: var(--doctor);
    font-size: var(--fz-2);
}

.bold {
    font-weight: 700;
    color: var(--meteor-shower);
}