:root {
    /* font size */
    --fz--2: clamp(0.7035rem, 0.7241rem + -0.0165vw, 0.72rem);
    --fz--1: clamp(0.9rem, 0.8906rem + 0.0377vw, 0.9377rem);
    --fz-0: clamp(1.125rem, 1.0938rem + 0.125vw, 1.25rem);
    --fz-1: clamp(1.4063rem, 1.3413rem + 0.26vw, 1.6663rem);
    --fz-2: clamp(1.7578rem, 1.642rem + 0.4633vw, 2.2211rem);
    --fz-3: clamp(2.1973rem, 2.0064rem + 0.7635vw, 2.9607rem);
    --fz-4: clamp(2.7466rem, 2.4466rem + 1.2001vw, 3.9467rem);
    --fz-5: clamp(3.4332rem, 2.9763rem + 1.8277vw, 5.2609rem);

    /* spacing */
    --sp-3xs: clamp(0.3125rem, 0.3125rem + 0vw, 0.3125rem);
    --sp-2xs: clamp(0.5625rem, 0.5469rem + 0.0625vw, 0.625rem);
    --sp-xs: clamp(0.875rem, 0.8594rem + 0.0625vw, 0.9375rem);
    --sp-s: clamp(1.125rem, 1.0938rem + 0.125vw, 1.25rem);
    --sp-m: clamp(1.6875rem, 1.6406rem + 0.1875vw, 1.875rem);
    --sp-l: clamp(2.25rem, 2.1875rem + 0.25vw, 2.5rem);
    --sp-xl: clamp(3.375rem, 3.2813rem + 0.375vw, 3.75rem);
    --sp-2xl: clamp(4.5rem, 4.375rem + 0.5vw, 5rem);
    --sp-3xl: clamp(6.75rem, 6.5625rem + 0.75vw, 7.5rem);

    /* colors */
    --lucky-grey: #787779;
    --smoky-umber: rgb(25, 20, 17);
    --doctor: #F9F9F9;
    --meteor-shower: #583BFB;
    --razzmatazz: #E30A5A;
    --holly-green: #149D7B;
}