.sec_btn {
    position: relative;
    overflow: hidden;
    cursor: pointer;

    width: 160px;
    height: 50px;
    background-color: transparent;
    border-radius: 4px;
    background-color: var(--smoky-umber);
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'GT Ultra', sans-serif;
    font-variation-settings: 'wght' 500;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: var(--doctor);

    transition: all 0.3s cubic-bezier(0.145, 0.045, 0.355, 1);
}

.sec_btn_fill {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--meteor-shower);
    z-index: 0;
    transform: translateY(100%);
    border-radius: 50% 50% 0 0;
}

.sec_btn_wrapper {
    display: inline-block;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.sec_btn:hover {
    transform: scale(1.02);
}

.sec_btn_char {
    display: inline-block;
    position: relative;
}

.sec_btn_char::after {
    content: attr(data-letter);
    position: absolute;
    top: 100%;
    left: 0;
    color: var(--doctor);
}

.sec_btn_char::after {
    color: var(--doctor);
}

.sec_btn_space {
    width: 0.3em;
    display: inline-block;
}