.stagger_btn {
    position: relative;
    overflow: hidden;
    cursor: pointer;

    width: 160px;
    height: 50px;
    background-color: black;
    border-radius: 2px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'GT Ultra', sans-serif;
    font-variation-settings: 'wght' 500;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: white;

    border: none;
    transition: all 0.3s cubic-bezier(0.145, 0.045, 0.355, 1);
}

.stagger_btn.active,
.stagger_btn:hover {
    background-color: #583BFB;
    border-radius: 4px;
    color: white;
    transition: all 0.3s cubic-bezier(0.145, 0.045, 0.355, 1);
}

.stagger_char_wrapper {
    display: inline-block;
    position: relative;
    overflow: hidden;
}

.stagger_char {
    display: inline-block;
    position: relative;
    /* transition: transform 0.3s ease; */
    /* Handled by GSAP */
}

/* The duplicate character positioned below */
.stagger_char::after {
    content: attr(data-letter);
    position: absolute;
    top: 100%;
    left: 0;
    color: white;
    /* Or a different color if desired for the hover state text */
}

.stagger_btn.active .stagger_char::after {
    color: white;
    /* Or a different color if desired for the hover state text */
}

.stagger_char_space {
    width: 0.3em;
    display: inline-block;
}